/*!
 *  Hack - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license, CSS: MIT License
 */
@font-face {
  font-family: 'Hack Regular Full';
  src: url('https://github.com/source-foundry/Hack/blob/dev-build-scripts/build/ttf/Hack-Regular.ttf?raw=true') format('woff2');
  font-weight: 400;
  font-style: normal;
}
