/*!
 *  Hack - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license, CSS: MIT License
 */
@font-face {
  font-family: 'Hack Italic Full';
  src: url('https://raw.githubusercontent.com/source-foundry/Hack/dev-build-scripts/build/ttf/Hack-Italic.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
