body {
	background: #eee;
	margin: 0;
}

.wrapper {
	width: 990px;
	margin: 0 auto;
}

header {
	background: #ddd;
	margin: 0;
}

header .wrapper {
	padding: 1em 0 0 10em;
	box-sizing: border-box;
	background: url(https://avatars0.githubusercontent.com/u/13209832?v=3&s=200) no-repeat 0 50%;
	background-size: 100px 100px;
	min-height: 7em;
}

header p {
	margin-bottom: 0;
}

h1 {
	margin: 0;
	font-size: 2em;
	font-weight: 400;
}

aside {
	margin: 0;
}

#grid {
	margin: 0;
	list-style: none;
}

#grid > li {
	margin: 0 .5em .5em 0;
	padding: .5em 1em;
	width: 10em;
	float: left;
	background: #ccc;
	position: relative;
}

#grid li strong {
	display: block;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#grid li.included {
	background: #cec;
}

#grid li.excluded {
	background: #ffc;
}

footer {
	clear: left;
	background: #666;
	color: #fff;
	text-align: center;
	padding: 1em 0;
}
